body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.containerr {
    max-width: 95%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.save-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.save-button i {
    margin-right: 8px;
}

.save-button:hover {
    background-color: #0056b3;
}

.permission{
    margin-top: 15px;
}

.permission-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;  /* Thêm khoảng cách giữa các section */
}

.section h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.permission h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.checkbox-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: -8px;
    gap: 20px;
    padding: 10px; /* Thêm khoảng cách bên trong các nhóm checkbox */
    border: 1px dashed #ccc; /* Thêm đường viền cho nhóm checkbox */
    border-radius: 5px;
    background-color: #fff; /* Nền trắng cho nhóm checkbox */
}

.checkbox-item {
    display: flex;
    align-items: center;
}

.checkbox-item input {
    margin-right: 5px;
}

.checkbox-item label {
    font-size: 16px;
    color: #555;
}

label{
    margin: 0
}